.main {
    display: flex;
    flex-direction: column;
}

.pageContent {
    width: 100%;
    background-color: #F7FAFA;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 830px) {
    .main {
        flex-direction: row;
    }

    .pageContent {
        position: relative;
        width: 100%;
        margin-left: 350px;
        top: 0px;
        padding-top: 100px;
        margin-top: 0px;
        height: 100%;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 1100px) {
    .pageContent {
        margin-left: 418px;
    }
}