.form {
    width: 85%;
}

.form h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submitButton {
    min-width: 150px;
}

@media only screen and (min-width: 830px) {
    .form {
        width: 80%;
    }
}