.form {
    width: 75%;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submitButton {
    min-width: 150px;
}

@media only screen and (min-width: 600px) {
    .main {
        width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        width: 50%;
    }
}