

.container {
    color:#cac8ee;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    width:100%;
    height: 100%;
    position: relative;
}
    
.sideBar {
    box-sizing:border-box;
    width:33.75%;
    height:100%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.sideBar .heading {
    box-sizing:border-box;
    height:12vh;
    max-height:65px;
    padding:18px 16px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background:#2e2e4f;
}

.sideBar .users {
    overflow-y:scroll;
    background:#3e3e5e;
    flex-grow:1;
}

.sideBar .users::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee;
}

.sideBar .users::-webkit-scrollbar {
    width:5px;background-color:green;
}

.sideBar .users::-webkit-scrollbar-thumb {
    background-color:#484d79;
}

.sideBar .users .user {
    align-items:center;
    display:flex;
    height:66px;
    justify-content:flex-start;
    padding:18px 16px;
}

.sideBar .users .user:hover {
    background:#2e2e4f;
}

@media screen and (min-width: 510px) {
    .sideBar .users .user.active {
        background:#2e2e4f;
    }
}

.sideBar .users .user:hover {
    cursor:pointer;
}

.sideBar .users .user .userInfo {
    margin-left:15px; 
    flex-grow:1;
}

.sideBar .users .user .userInfo .lastMessage {
    font-size:12px;
    opacity:.56;
}

.sideBar .users .user .newMessage {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sideBar .currentUser {
    align-items:center;
    background:#484d79;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    height:10vh;
    max-height:65px;
    justify-content:space-between;
    padding-left:16px;
    padding-right:16px;
}
    
.chatHeader {
    background:#5d5d8a;
    box-shadow:0px 6px 5px -2px rgba(225,225,225,0.7);
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:12vh;
    max-height:65px;
    padding:18px 16px;
}

.chatHeader .userInfo {
    align-items:center;
    display:flex;
}

.chatHeader .userInfo .userName {
    margin-right:10px;
}

.chatHeader .userInfo .status {
    align-items:center;
    display:flex;
}

.chatHeader .options {
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
    height:100%;
}

.chatHeader .options i {
    cursor:pointer;
    font-size: 19px;
    margin: 0 8px;
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 65px;
}

.chatRoomContainer {
    height:100%;
    width:76.25%;
}

.chatRoom { 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    width:100%;
}

.chatRoom.choose {
    align-items:center;
    justify-content:center;
    font-size:2em
}

.threadContainer {
    flex-grow:1;
    overflow-y:scroll;
    position:relative;
}

.threadContainer::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee
}

.threadContainer::-webkit-scrollbar {
    width:5px;
    background-color:green
}

.threadContainer::-webkit-scrollbar-thumb {
    background-color:#484d79
}

/* changed from position relative to position absolute */
.threadContainer .thread {
    position:absolute;
    width:100%;
    min-height: 800px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    color:#b3b2ca;
    background:#dcddf5;
}

.messageContainer {
    display:flex;
    justify-content:flex-start;
    min-height:50px;
    margin:10px 15px;
    animation:.65s ease-out 0s show
}

.messageContainer .time {
    order:1
}

.messageContainer .data {
    order:2;
    height:100%;
    margin-left:25px
}

.messageContainer .name {
    font-size:.65em;
    margin-top:5px;
    text-align:right
}

.messageContainer .message {
    background:#fff;
    border-radius:5px;
    border-top-left-radius:0;
    box-sizing:border-box;
    color:#b3b2ca;
    height:100%;
    padding:10px 15px;
    position:relative
}

@keyframes show {
    0%{opacity:0}
    100%{opacity:1}
}

.messageContainer .message::before {
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-right-color:#fff;
    border-style:solid;
    border-top-color:#fff;
    border-width:4px;
    content:'';
    height:0;
    left:-7px;
    position:absolute;
    top:0;
    width:0
}

.messageContainer.right {
    text-align:right;
    justify-content:flex-end
}

.messageContainer.right .time {
    order:2;
    margin-left:25px
}

.messageContainer.right .data {
    margin-left:0;
    order:1
}

.messageContainer.right .name {
    display:none
}

.messageContainer.right .message {
    background:#89a1fc;
    color:#fff;
    border-top-right-radius:0;
    border-top-left-radius:5px
}

.messageContainer.right .message::before {
    border-top-color:#89a1fc;
    border-left-color:#89a1fc;
    border-right-color:transparent;
    left:auto;
    right:-7px
}

.typingUser {
    text-align:right;
    margin:10px 15px
}

.messageInput {
    background:white;
    color:#484d79;
    box-sizing:border-box;
    height:10vh;
    max-height:65px
}

.messageInput .messageForm {
    height:100%;
    width:100%;
    display:flex;
    justify-content:space-between
}

.messageInput .messageForm .formControl {
    padding-top:24px;
    padding-bottom:24px;
    resize:none;
    padding-left:15px;
    box-sizing:border-box;
    width:80%;
    height:100%;
    border:none
}

.messageInput .messageForm .formControl::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#cac8ee
}

.messageInput .messageForm .formControl::-webkit-scrollbar {
    width:5px;
    background-color:green
}

.messageInput .messageForm .formControl::-webkit-scrollbar-thumb {
    background-color:#484d79
}

.messageInput .messageForm .formControl:focus {
    outline:none
}

.messageInput .messageForm .send {
    width:20%;
    box-sizing:border-box;
    font-size:1.25em;
    text-align:center;
    border:none;
    height:100%;
    color:#fff;
    background:#3e3e5e;
    transition:all .35s ease-out
}

.messageInput .messageForm .send:disabled {
    opacity:.2;
    background:#5d5d8a
}

.chatBackArrow {
    display: none !important;
}

@media screen and (max-width: 510px) {
    .container {
        position: relative;
    }

    .chatRoomContainer, .sideBar {
        width: 100%;
    }
    
    .chatRoomContainer {
        left: 100%;
    }

    .sideBar {
        left: -100%;
    }

    .activeMobile {
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .inactiveMobile {
        opacity: 0%;
    }

    .chatBackArrow {
        display: inline-block !important;
        margin-right: 25px;
    }

    .chatBackArrow:hover {
        cursor: pointer;
    }

}
