.task {
    padding: 6px 7px;
    font-size: 14px;
    border-radius: 5px;
    margin: 0px 7px 10px 0px;
}

.errands {
    background-color: #e4f2f2;
    color: #164d4d;
}

.supplies {
    background-color: #e4f0e4;
    color: #004d00;
}

.call {
    background-color: #f2f0fa;
    color: #130840;
}

.chat {
    background-color: #f5e6e6;
    color: #5e0202;
}

.dog {
    background-color: #FAF3DE;
    color: #3B2E20;
}

.other {
    background-color: #F8ECDF;
    color: #402D1B;
}

@media only screen and (min-width: 830px) {
    .task {
        padding: 7px 10px;
        margin: 0px 12px 10px 0px;

    }
}