.hide {
    display: none;
}

.notFound {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.image {
    height: 350px;
}

.title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 40px;
    max-width: 80%;
}

.notFound button {
    margin-bottom: 40px;
}