.errorBoundary {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 500;
}