.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.details {
    width: 85%;
}

.postHeader h3 {
    font-size: 18px;
    font-weight: 500;
}

.postHeader span {
    display: inline-block;
    font-size: 13px;
}

.postHeader svg {
    opacity: 0.6;
    margin-right: 8px;
}

.high svg {
    color: #ad3434;
}

.medium svg {
    color: #edcb64;
}

.low svg {
    color: #3d9145;
}

.urgency {
    text-transform: capitalize;
}

.tasks {
    display: flex;
    list-style: none;
    padding-left: 0px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.map {
    height: 250px;
    width: 100% !important;
    background-color: #ddd;
}

.textarea {
    height: 100px;
    margin: 15px 0px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    align-self: flex-start;
    font-size: 14px;
}

.messageSection {
    align-self: center;
    margin: 20px 0px 0px 0px;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.submitButton {
    min-width: 120px;
}

.postTitle {
    font-size: 18px;
    text-align: left;
}

.description {
    font-size: 15px;
    text-align: left;
    margin: 10px 0px 25px 0px;
    line-height: 1.26em;
}

.chatMessage {
    font-size: 15px;
    padding: 0px 0px 5px 5px;
    border-radius: 5px;
    margin: -5px 0 30px 0;
    color: #8492a4
}

.chatMessage svg {
    margin-right: 5px;
    font-size: 16px;
}

.error {
    text-align: left;
    font-size: 12px;
    color: #a34343;
    margin: -5px 0px 15px 0px;
}

.errorCell {
    border: 1px solid #a34343;
    border-radius: 3px;
}

@media only screen and (min-width: 830px) {
    .description {
        margin: 15px 0 35px 0;
    }

    .textarea {
        height: 45px !important;
    }
}