.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    width: 90%;
    background-color: white;
    padding: 0 0 30px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 10px;
    margin: 30px auto;
} 

.main h3 {
    margin: 35px 0;
    font-size: 18px;
}

.textarea {
    height: 100px;
}

.label {
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.heart, .hand {
    margin-left: 4px;
}

.heart {
    color: #bf5e6b;
}

.hand {
    color: #e6c78e;
}

.form {
    width: 85%;
}

@media only screen and (min-width: 600px) {
    .main {
        width: 80%;
    }

}

@media only screen and (min-width: 800px) {
    .main {
        width: 50%;
    }

    .form {
        width: 65%;
    }
}


