.form div {

    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.textarea {
    height: 100px;
}

.label {
    margin-bottom: 10px;
}

.select {
    width: 200px;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .form div {
        width: 400px;
    }
}