.form {
    width: 75%;
    margin-bottom: 20px;
}

.form h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.textarea {
    height: 100px !important;
}

.label {
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.error {
    text-align: left;
    font-size: 12px;
    color: #a34343;
    margin: -15px 0px 15px 0px;
}