.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.map {
    height: 300px;
    width: 90%;
    margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
    .map {
        width: 400px;
    }
}