.map {
    height: 250px;
    width: 100% !important;
    background-color: #ddd;
    margin-bottom: 35px;
}

.form {
    width: 85%;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submitButton {
    min-width: 140px;
}

.radiusSection {
    margin-top: 25px;
}

@media only screen and (min-width: 830px) {
    .form {
        width: 80%;
    }
}