.backButton {
    background: transparent;
    border: none;
    font-size: 23px;
    align-self: flex-start;
    margin-left: 20px;
    color: #79838c;
    opacity: 1;
    transition: ease-in-out 500ms;
    display: none;
}

.backButton:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: ease-in-out 500ms;
}

.links {
    margin-top: 40px;
    align-self: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a {
    text-decoration: none;
    color: #79838c;
    margin: 6px 0px;
}

.links svg {
    margin-right: 6px;
}

.profPic {
    height: 75px;
    width: 75px;
    border-radius: 80px;
    font-size: 30px;
    margin: 10px auto 40px auto;
    opacity: 0.8;
    font-weight: 500;
}

.detailsContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.form {
    width: 85%;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

@media only screen and (min-width: 830px) {
    .form {
        width: 60%;
    }

    .backButton {
        display: block;
    }

}