.header,
.section {
    display: flex;
    align-items: center;
    text-align: left;
}

.header {
    height: 100vh;
    position: relative;
    top: -100px;
    width: 100%;
}

.header h1 {
    padding-top: 120px;
}

.banner {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.9;
}

.header .left {
    z-index: 10;
    background-color: white;
}

.header .buttonSection {
    justify-content: flex-start;
    width: 72%;
    margin: 25px auto;
}

.bannerIcon {
    z-index: 100;
    height: 10vh;
    width: 10vh;
    position: absolute;
}

.heart {
    top: 24vh;
    left: calc(50% - 5vh);
}

.question {
    top: 64vh;
    right: 12.7%;
}

.section {
    padding: 80px 50px;
}

.right,
.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading,
.subheading,
.featureList {
    width: 72%;
    margin: 0px auto 30px auto;
    z-index: 30;
}

.buttonSection {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttonSection button:first-child {
    margin-right: 15px;
}

.heading {
    font-size: 30px;
    padding-bottom: 0px;
    font-weight: 600;
    letter-spacing: -0.01em;
}

.subheading {
    font-size: 19px;
    line-height: 26px;
}

.section .heading {
    font-size: 28px;
}

.mockup {
    height: auto;
    width: 100%;
    box-shadow: 0 4px 20px 4px rgba(0, 0, 0, .02), 0 2px 10px 2px rgba(0, 0, 0, .04);
    border-radius: 10px;
}

.featureList {
    list-style: none;
    padding: 0;
}

.featureList li {
    font-size: 17px;
    margin: 0px 0px 20px 0px;
    display: flex;
    align-items: center;
    line-height: 23px;
}

.featureList li svg {
    font-size: 20px;
}

.featureList li div {
    padding: 17px;
    border-radius: 6px;
    margin-right: 20px;
}

.first .left {
    width: 56%
}

.first .right {
    width: 44%;
}

.first .heading,
.first .featureList,
.first .button {
    width: 80%;
    padding-left: 50px;
    margin: 0 auto;
}

.first .heading {
    padding-left: 60px;
    margin-bottom: 40px;
}

.first button {
    margin-top: 25px;
    width: fit-content;
    margin-left: 10px;
}

.security {
    flex-direction: column;
    width: 95%;
    justify-content: center;
    background-color: #F7FAFA;
    margin: 0 auto;
    border-radius: 30px;
}

.security .right {
    width: 40%;
}

.security .left {
    width: 60%;
}

.security .top {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.security .heading {
    margin-bottom: 13px;
}

.security .subheading {
    color: #8e97a3c8;
    font-weight: 500;
}

.securityDetails {
    display: flex;
    width: 100%;
    align-items: center;
}

.security .mockupSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.security .mockup:first-child {
    margin-right: 35px;
}

.security .mockup {
    align-self: flex-start;
    height: 100%;
    min-width: 0;
    width: auto;
}

.security .featureList {
    width: 85%;
    margin-right: 0;
}

.security .featureList li {
    margin-bottom: 30px;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 90px;
    margin: 0;
}

.last .heading {
    font-size: 26px;
    margin-bottom: 50px;
}

.footer {
    padding: 15px 45px;
    background-color: #F7FAFA;
    display: flex;
    justify-content: space-between;
}

.footerDetails {
    display: flex;
    align-items: center;
}

.footerDetails a {
    margin-right: 15px;
}

.footerDetails svg {
    font-size: 20px;
}

.footerDetails svg,
.footer p {
    color: #8e97a3;
}

.footer p {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.footer img {
    height: 70px;
    width: auto;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 950px) {
    .header {
        height: 60vh;
    }



    .banner {
        display: none;
    }

    .header .heading,
    .header .subheading {
        width: 60%;
    }

    .header .right {
        width: 0% !important;
    }

    .header .left {
        width: 100%;
        text-align: center;
    }

    .header .buttonSection {
        justify-content: center;
    }

    .bannerIcon {
        height: 80px;
        width: 80px;
    }

    .heart {
        left: 13%;
        top: 52vh;
    }

    .question {
        top: 18vh;
        right: 7%;
    }

    .section,
    .securityDetails {
        flex-direction: column;
    }

    .section .left,
    .section .right {
        width: 100%;
    }

    .first {
        padding-top: 0px;
    }

    .section .featureList,
    .section .heading,
    .first .button {
        width: 100%;
    }

    .first .right {
        align-items: center;
        padding-top: 90px;
    }

    .first .right .button {
        display: flex;
        justify-content: center;
    }

    .first .heading {
        margin-bottom: 40px;
    }

    .security .right {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 580px) {

    .header {
        height: 70vh;
    }

    .header .left {
        justify-content: flex-end;
    }


    .header .subheading {
        width: 80%;
    }

    .header .heading {
        width: 70%;
    }

    .header .heading {
        font-size: 27px;
    }

    .header .subheading {
        font-size: 16px;
        line-height: 22px;
    }

    .buttonSection {
        width: 90% !important
    }

    .bannerIcon {
        height: 8vh;
        width: 8vh;
    }

    .question {
        top: 18vh;
        right: 5%;
    }

    .heart {
        top: 73vh;
        left: 7%;
    }

    .section {
        padding: 50px 20px;
    }

    .featureList {
        padding: 0px !important;
    }

    .featureList li {
        font-size: 17px;
        line-height: 22px;
    }

    .first .heading {
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .first .right .button {
        justify-content: flex-start;
        padding-left: 0;
    }

    .first .right {
        padding-top: 70px;
    }

    .securtity .heading {
        width: 100%;
    }

    .section .heading {
        font-size: 23px;
    }

    .section .subheading {
        display: none;
    }

    .security .right {
        margin-top: 60px;
    }

    .security .featureList {
        margin-bottom: 0px;
    }

    .footer {
        padding-left: 20px;
    }

    .last {
        padding: 70px 25px;
    }
}