

.header, .section {
    display: flex;
    align-items: center;
    text-align: left;
}
  
.header {
    height: 100vh;
    background-color: #F5F1EA;
    position: absolute;
    top: 0;
}

.header h1 {
    padding-top: 100px;
}

.banner {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    opacity: 0.9;
}

.header .left {
    z-index: 10;
    background-color: #F5F1EA;
}

.first {
    margin-top: 90vh;
}

.section {
    padding: 80px 0px;
}

.icons {
    flex-direction: column;
}
  
.right, .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading, .subheading, .buttonSection {
    width: 70%;
    margin: 0px auto 40px auto;
    z-index: 30;
}

.heading {
    font-size: 48px;
    padding-bottom: 0px;
}

.subheading {
    font-size: 20px;
    line-height: 25px;
}

.demoButton, .signupButton {
    border: 1px solid black;
    border-radius: 3px;
    padding: 12px 15px !important;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.7px;
    margin-right: 20px;
}

.demoButton:hover, .signupButton:hover {
    cursor: pointer;
}

.demoButton {
    color: black;
    background-color: transparent;
}

.signupButton {
    background-color: black;
    color: white;
}

.first .left {
    width: 40%;
}

.first .right {
    width: 60%;
}

.section .heading {
    font-size: 38px;
}

.section .subheading {
    font-size: 18px;
}

.mockupDesktop {
    height: auto;
    width: 100%;
}

.icons {
    background-color: #f7f9fa;
}

.iconList {
    display: flex;
    padding: 0px 30px;
    z-index: 30;
}

.icons h2 {
    font-size: 35px;
    z-index: 30;
    /* align-self: flex-start;
    margin-left: 80px; */
}

.iconImage {
    height: auto;
    width: 100%;
}

.iconSection, .last {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.iconHeading {
    align-self: flex-start;
    margin: 30px 0px 0px 0px;
    font-weight: bold;

}

.iconSubheading {
    width: 100%;
    margin: 10px 15px;
    display: block;
}

.security {
    background-color: #F5F1EA;
}

.security .left {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.security .right {
    width: 40%;
}

.securityMockup {
    width: 95%;
    height: auto;
    align-self: flex-start;
}

.last {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.last .heading {
    font-size: 28px;
}

.footer {
    padding: 5px 30px;
    background-color: #494f5c;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footerDetails {
    display: flex;
    align-items: center;
}

.footer p {
    margin-right: 20px;
}

.footer i {
    font-size: 25px;
    color: white;
    margin: 0px 8px;
}

.footer img {
    height: 70px;
    width: auto;
}

.shape1 {
    position: absolute;
    top: 170vh;
    left: -150px;
    z-index: 0;
    height: 600px;
    width: 550px;
    transform: rotate(-10deg)
}

.shape2 {
    position: absolute;
    z-index: 0;
    top: 220vh;
    height: 700px;
    right: -130px;
}
