.container {
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 1000;
    top: 75px;
    background-color: white;
    display: flex;
    padding: 0px 15px;
    left: 10px; 
    right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInDown ease 0.3s;
    -webkit-animation: fadeInDown ease 0.3s;
    -moz-animation: fadeInDown ease 0.3s;
    -o-animation: fadeInDown ease 0.3s;
    -ms-animation: fadeInDown ease 0.3s;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

@-moz-keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

@-o-keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

@-ms-keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

.container p {
    font-size: 14px;
    color: gray;
}

.buttons button {
    margin: 0px 10px;
}