.container {
   height: 50px;
   position: absolute;
   z-index: 1000;
   background-color: white;
   display: flex;
   right: 0;
   left: 0;
   top: 10;
   align-items: center;
   background: #eff1f4aa;
   padding: 0px 15px;
   justify-content: space-between;
   animation: fadeInDown ease 0.3s;
   -webkit-animation: fadeInDown ease 0.3s;
   -moz-animation: fadeInDown ease 0.3s;
   -o-animation: fadeInDown ease 0.3s;
   -ms-animation: fadeInDown ease 0.3s;
}

.container p {
   color: black;
   font-size: 15px;
   margin-left: 15px;
   text-align: left;
   display: none;
}

.buttons {
   display: flex;
   flex-direction: row;
}


.buttons button {
   margin: 0px 5px;
}

.deleteButton {
   min-width: 115px;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-moz-keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-webkit-keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-o-keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-ms-keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@media only screen and (min-width: 830px) {
   .buttons button {
      margin: 0px 10px;
   }

   .container p {
      display: block;
   }
}