.date {
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
}

.postHeader h3 {
    width: 85%;
    text-align: left;
    letter-spacing: 0.015em;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 30px;
}

.postHeader span {
    display: inline-block;
    font-size: 13px;
    margin-top: -25px;
}

.postHeader svg {
    opacity: 0.6;
    margin-right: 8px;
}

.high svg {
    color: #ad3434;
}

.medium svg {
    color: #edcb64;
}

.low svg {
    color: #3d9145;
}

.urgency {
    text-transform: capitalize;
}

.tasks {
    display: flex;
    list-style: none;
    padding-left: 0px;
    width: 85%;
    flex-wrap: wrap;
}

.map {
    height: 250px;
    width: 100% !important;
    background-color: #ddd;
}

.messageSection {
    align-self: center;
    width: 85%;
    margin: 20px 0;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 85%;
}

.rightButtons {
    display: flex;
    flex-direction: row;
}

.delete {
    margin-right: 10px;
}

.postTitle {
    font-size: 18px;
    text-align: left;
}

.description {
    font-size: 15px;
    width: 85%;
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.26em;

}

@media only screen and (min-width: 600px) {
    .main {
        width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        width: 50%;
    }
}