.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    width: 90%;
    background-color: white;
    padding: 0 0 30px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 10px;
    margin: 30px auto;
} 

.date {
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
}

.main h3 {
    width: 85%;
    text-align: left;
}

.postHeader i {
    font-size: 10px;
    margin-right: 3px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    margin-top: 30px;
}

.urgency {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0.6px;
    margin-top: 18px;
}

.high {
    color: #ad3434;
}

.medium {
    color: #edcb64;
}

.low {
    color: #3d9145;
}

.tasks {
    display: flex;
    list-style: none;
    padding-left: 0px;
    width: 85%;
    flex-wrap: wrap;
}

.map {
    height: 250px;
    width: 100% !important;
    background-color: #ddd;
}

.messageSection {
    align-self: center;
    width: 85%;
    margin: 20px 0;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 85%;
}

.delete {
    margin-right: 10px;
    color: #ad3434;
    border: 1px solid #ad3434;
}

.delete:hover {
    border: 1px solid #b55151;
}

.postTitle {
    font-size: 18px;
    text-align: left;
}

.description {
    font-size: 15px;
    width: 85%;
    text-align: left;
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    .main {
        width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        width: 50%;
    }
}