.details {
    width: 85%;
}

.date {
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    margin-top: 0px;
}

.postHeader h3 {
    text-align: left;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 500;
}

.postHeader div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.urgency {
    display: inline-block;
    font-size: 13px;
    text-transform: capitalize;
}

.postHeader svg {
    opacity: 0.6;
    margin-right: 8px;
}

.high svg {
    color: #ad3434;
}

.medium svg {
    color: #edcb64;
}

.low svg {
    color: #3d9145;
}

.tasks {
    display: flex;
    list-style: none;
    padding-left: 0px;
    flex-wrap: wrap;
    margin: 0px 0px 25px 0px;
}

.map {
    height: 250px;
    width: 100% !important;
    background-color: #ddd;
}

.messageSection {
    align-self: center;
    margin: 20px 0;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.rightButtons {
    display: flex;
    flex-direction: row;
}

.delete {
    margin-right: 10px;
}

.postTitle {
    font-size: 18px;
    text-align: left;
}

.description {
    font-size: 15px;
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.26em;
}

.loading {
    width: 100%;
}

@media only screen and (min-width: 830px) {
    .date {
        margin-top: -5px;
    }

    .description {
        margin: 20px 0px 35px 0px;
    }
}