.main h4 {
    margin-bottom: 50px;
    text-align: left;
}

.inner {
    width: 70%;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.yesButton {
    color: #ad3434;
    border: 1px solid #ad3434;
    background: white;
}

.yesButton:hover {
    border: 1px solid #b55151;
}