.container {
    width: 85%;
}

.header {
    font-weight: 500;
    font-size: 18px;
}

.container p {
    margin: 25px 0px 40px 0px;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.yesButton {
    color: #ad3434;
    border: 1px solid #ad3434;
    background: white;
}

.yesButton:hover {
    border: 1px solid #b55151;
}

@media only screen and (min-width: 830px) {
    .container {
        width: 80%;
    }
}