.post {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    text-align: left;
    margin: 15px 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 10px;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;

    height: 30px;
}

.postHeader h4 {
    margin-left: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.distance {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #404040;
}

.button, .buttonLink {
    margin-top: 15px;
    align-self: center;
    width: 200px;
    font-size: 14px;
    border: none;
    background-color: #f2f4f7;
}

.buttonLink:hover {
    border: none;
    background-color: #e4e9f0;
    transition: 0.5s;
    opacity: 1;
}

.helpItems {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.high, .medium, .low {
    font-size: 12px;
    display: inline-block;
    padding-top: 8px;
}

.high i, .medium i, .low i {
    font-size: 10px;
    margin-right: 3px;
}

.high {
    color: #ad3434;
}

.medium {
    color: #edcb64;
}

.low {
    color: #3d9145;
}

.heart, .hand {
    margin-right: 10px;
}

.heart {
    color: #bf5e6b;
}

.hand {
    color: #e6c78e;
}

@media only screen and (min-width: 830px) {
    .post {
        width: 70%;
    }
}