.post {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 20px;
    text-align: left;
    margin: 15px 0px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.button, .buttonLink {
    padding: 10px;
    margin-top: 15px;
    align-self: center;
    width: 200px;
}

.helpItems {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.post h4 {
    margin-top: 0;
    display: inline-block;
}

.urgency {
    font-size: 12px;
    margin-left: 10px;
}

@media only screen and (min-width: 600px) {
    .post {
        width: 500px;
    }
}