.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feedHeader h3 {
    font-size: 14px;
    color: #8492a4;
}

.feedHeader {
    width: 90%;
    text-align: left;
}

.feed {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 30px 0px;
    margin: 0px auto;
}

.noPostImage {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.noPosts {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    margin-top: 40px;
}

.noPostTip {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

@media only screen and (min-width: 830px) {
    .feedHeader {
        width: 70%;
        text-align: right;
    }

    .noPosts {
        margin-top: 0px;
        width: 50%;
        margin-left: -50px;
    }
}