.main {
    position: absolute;
    top: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 50px 15px;
    display: flex;
    padding-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.header h2 {
    font-size: 30px;
}

.heart, .hand {
    margin-right: 7px;
}

.heart {
    color: #bf5e6b;
}

.hand {
    color: #e6c78e;
}

.newPostButtons {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newPostButtons button {
    width: 50%;
}

.requestButton {
    margin-right: 10px;
}

.yourPosts {
    margin-bottom: 30px;
}

.yourPosts h3, .mapTitle {
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.mapSection {
    width: 80%;
    height: 250px;
}

.userInfo {
    width: 80%;
}

.mapSection p {
    margin: 10px 0;
    padding-bottom: 15px;
}

.feedHeader h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.feedHeader {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    text-align: left;
}

.feed {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {
    .mapSection {
        width: 90%;
        height: 200px;
        padding-top: 0;
        margin-top: 0;
    }

    .feed {
        margin-top: 20px;
    }

    .yourPosts {
        margin: 60px 0 40px 0;
    }

    .header {
        text-align: left;
        flex-direction: column;
        margin-top: 20px;
        min-width: 260px;
        width: 35%;
        padding: 20px;
        margin-left: 5%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .newPostButtons {
        margin: 0;
        width: 60%;
    }

    .userInfo {
        width: 90%;
    }

    .main {
        flex-direction: row;
    }

    .feedHeader {
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .feedHeader h2 {
        margin-bottom: -5px;
    }
}