@font-face {
  font-family: "ApercuLight";
  src: local("Apercu"), url("../src/fonts/Apercu-Font/Apercu\ Pro\ \Light.otf") format("truetype");
}

body {
  margin: 0;
  font-family: "ApercuLight";
  color: rgb(38, 38, 39);
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffefc;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-weight: normal;
}


