.button {
    padding: 8px 16px;
    font-size: 15px;
    line-height: 24px;
    font-family: inherit;
    border: 1px solid rgb(38, 38, 39);
    color: rgb(38, 38, 39);
    border-radius: 3px;
    background-color: transparent;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid rgba(38, 38, 39, 0.8);
}

.buttonDark {
    composes: button;
    background-color: #415166;
    color: white;
    border: 1px solid #415166;
}

.buttonLink:hover {
    border: none;
    background-color: #e4e9f0;
    transition: 0.5s;
    opacity: 1;
}

.input {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #f2f5f7;
    display: block;
    margin: 7px auto 25px auto;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.label {
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
}

.circle {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

:global .red {
    background-color: #bf5656;
}

:global .green {
    background-color: #8cc47a;
}

:global .indigo {
    background-color: #7784bf;
}

:global .purple {
    background-color: #8878b0;
}

:global .teal {
    background-color: #78b09a
}

:global .blue {
    background-color: #56bcbf;
}