.button {
    padding: 9px 20px;
    font-size: 15px;
    font-family: inherit;
    border: none;
    color: #282C33;
    border-radius: 50px;
    background-color: #e6ebf2;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.large {
    height: 42px;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.buttonDark {
    composes: button;
    background-color: #282C33;
    color: white;
    border: 1px solid #282C33;
}

.buttonLink:hover {
    border: none;
    transition: 0.5s;
    opacity: 1;
}

.actionButton {
    border: none;
    background: transparent;
    color: #595959;
    font-size: 14.5px;
    margin-right: 12px;
}

.actionButton:hover {
    cursor: pointer;
}

.actionButton svg {
    margin-right: 10px;
    font-size: 16px;
}

.spinner {
    font-size: 20px;
}

.input {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #f2f5f7;
    display: block;
    margin: 7px auto 25px auto;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    height: 45px;
}

.label {
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
}

.circle {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

:global .red {
    background-color: #bf5656;
}

:global .green {
    background-color: #8cc47a;
}

:global .indigo {
    background-color: #7784bf;
}

:global .purple {
    background-color: #8878b0;
}

:global .teal {
    background-color: #78b09a
}

:global .blue {
    background-color: #7bacb3;
}

.error {
    font-size: 13px;
    margin: 0px 0px 25px 0px;
    background-color: #f5ebeb;
    color: #a82a30;
    border-radius: 3px;
    padding: 14px;
    font-weight: 500;
}

.error svg {
    margin-right: 6px;
}

.success {
    composes: error;
    color: #4a8356;
    background-color: #E3F1E4;
}

.bgIcon {
    height: 23px;
    width: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 13px;
}

.greenIcon {
    background: #E3F1E4;
    color: #87AE8F;
}

.pinkIcon {
    background: #FDE8E8;
    color: #EC7376;
}

.yellowIcon {
    background: #FBF2D6;
    color: #F7D365;
}

.blueIcon {
    background: #EDF3F4;
    color: #8FB7BF;
}

.purpleIcon {
    background: #E2DDFB;
    color: #8F91D6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    flex-grow: 1;
    width: 100%;
    background-color: white;
    padding: 30px 0 40px 0;
    text-align: left;
}



@media only screen and (min-width: 830px) {
    .container {
        flex-grow: 0;
        align-self: center;
        width: 62%;
        margin: 25px 0px 50px 0px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .03), 0 1px 2px 0 rgba(0, 0, 0, .03);
        border-radius: 10px;
    }

    .authContainer {
        width: 550px;
    }

}

.customSelect {
    margin: 10px 0px 25px 0px;
}

.errorCell {
    border: 1px solid #d45e5e;
    border-radius: 3px;
}