.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 65px;
    position: relative;
    width: 100%;
    min-height: 80px;
}

.bigLogo {
    height: 90px;
    margin-left: 50px;
    margin-top: 60px;
}

.smallLogo {
    width: 90px;
    align-self: center;
    margin-top: 5px;
    margin-left: 20px;
}

.navLinks {
    list-style: none;
    display: flex;
    font-size: 15px;
    letter-spacing: 0.7px;
    margin-right: 35px;
}

.navLinks li {
    margin-right: 20px;
}

.navLinks i {
    font-size: 25px;
    margin-right: 10px;
}

.navLinks a {
    text-decoration: none;
    color: #96a5b3;
    align-self: center;
}

:global .active li {
    color: #435361;
    transition: 0.5s;
}


.profPic {
    align-self: center;
}

.logIn, .signUp {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 12px !important;
}

.logIn {
    color: black;
}

.signUp {
    background-color: black;
    color: #ebebeb;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .logIn, .signUp {
        font-size: 12.5px;
        padding: 8px 10px;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    :global .active li {
        border: none;
    }

    .navLinks {
        margin-right: 10px;
    }

    .smallLogo {
        margin-left: 0px;
        width: 80px;
    }
}

