.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 0;
    min-height: 100px;

    z-index: 100;
    width: 100%;
}

.nav:not(.landing) {
    position: fixed;
}

.logo {
    width: 160px;
    margin-top: 5px;
    margin-left: 50px;
}

.navLinks {
    display: flex;
    font-size: 22px;
    margin-right: 35px;
    list-style: none;
}



.navLinks:not(.landing .navLinks):not(.mobile) {
    letter-spacing: 0.7px;
    border-radius: 50px;
    background-color: white;
    padding: 12px 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .03), 0 1px 2px 0 rgba(0, 0, 0, .03);
}

.navLinks>*:not(:last-child) {
    margin-right: 19px;
}

.navLinks a {
    text-decoration: none;
    color: #96a5b3;
    align-self: center;
}

:global .active li {
    color: #435361;
    transition: 0.5s;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .logo {
        margin-left: 40px;
        margin-top: 0px;
    }

    .landing .navLinks {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 830px) {

    .nav {
        position: static;
        min-height: 50px;
        height: 70px;
    }

    .nav.nav:not(.landing) {
        position: static;
    }

    .logo {
        margin-left: 25px;
        width: 140px;
    }

    .landing .logo {
        margin-top: 30px;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .navLinks {
        background: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
    }

    .nav:not(.landing) .navLinks {
        margin-right: 25px;
    }

    .logIn,
    .signUp {
        margin-top: 27px;
    }
}

@media only screen and (max-width: 580px) {

    .signUp {
        display: none;
    }

    :global .active li {
        border: none;
    }

    .landing .navLinks {
        margin-right: 5px !important;
    }
}