.nav {
    display: flex;
    padding: 5px 0;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 45px;
    margin-left: 15px;
}

.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li {
    margin: 0px 15px;
}

.navLinks i {
    font-size: 20px;
    margin-right: 5px;
}